langchain
streamlit
langchain_openai
python-dotenv
langsmith
langchain_core
langchain_community
ollama
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
cassio
beautifulsoup4
langchain-groq
sentence_transformers